<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/textInput.css" rel="stylesheet">
    <link href="/static/css/buttons.css" rel="stylesheet">


    <title>Sorry</title>
</head>

<body>

<input id="username" type="text" placeholder="Who is it?"> <a onclick="login()" class="button blue" style="width: 100px">ENTER</a>

</body>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/textInput.js"></script>
<script>

    $(document).ready(function() {
        $.ajax({
            url: "count",
            dataType: "json",
            async: true,
            type: "GET",
            success: function (req) {
            },
            error: function () {
            }
        });
    });

    function login(){
        $.ajax({
            url:"login",
            dataType:"json",
            async:true,
            data:{'username': $("#username").val()},
            type:"POST",
            success:function(req){
                $("#username").attr("value","");
                $("#username").attr("placeholder",req.msg);
                if(req.code == 1){
                    window.location.href = req.data;
                }
            },
            error:function(){

            }
        });

    }
</script>
</html>
