<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/textInput.css" rel="stylesheet">
    <link href="/static/css/buttons.css" rel="stylesheet">


    <title>Sorry</title>
</head>

<body>


<!--<form id="doLogin" name="doLogin" method="post" action="{:url('admin/login/login')}">-->
    <!--<p class="m-t-md" id="err_msg"></p>-->
    <!--<input type="text" class="form-control uname" placeholder="用户名" id="username" name="name"/>-->
    <!--<input type="password" class="form-control pword m-b" placeholder="密码" id="password" name="password"/>-->
    <!--<div id="slider" class="slider"></div>-->
    <!--<button type="submit" class="btn btn-primary btn-block">登　录</button>-->
<!--</form>-->


<input id="username" type="text" placeholder="你是谁？"> <a onclick="login()" class="button blue" style="width: 100px">ENTER</a>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/textInput.js"></script>
<script>
    function login(){
        $.ajax({
            url:"login",
            dataType:"json",
            async:true,
            data:{'username': $("#username").val()},
            type:"POST",
            success:function(req){
                $("#username").attr("value","");
                $("#username").attr("placeholder",req.msg);
                if(req.code == 1){
                    window.location.href = req.data;
                }
            },
            error:function(){

            }
        });

    }
</script>

</body>
</html>
